services:
  mongo:
    image: mongo:7.0.25
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db
      - mongo_backups:/backups
    ports:
      - "27017:27017"
    networks:
      - db_net

  migration:
    build: .
    depends_on:
      - mongo
    volumes:
      - ./data:/data
    restart: "no"
    profiles: ["run-once"]
    networks:
      - db_net

  backup:
    image: mongo:7.0.25
    container_name: mongo-backup
    depends_on:
      - mongo
    volumes:
      - mongo_backups:/backups
    entrypoint: >
      bash -c "
      while true; do
        mongodump --uri='mongodb://admin:admin123@mongo:27017' --out=/backups/$(date +%Y-%m-%d_%H-%M-%S);
        find /backups -maxdepth 1 -mtime +3 -type d -exec rm -rf '{}' \;
        sleep 7200;
      done
      "
    networks:
      - db_net

  mongo_test:
    image: mongo:7.0.25
    container_name: mongo_test
    ports:
      - "27018:27017"
    command: mongod --bind_ip_all --noauth
    networks:
      - test_net

  tests:
    build: .
    container_name: migration_tests
    depends_on:
      - mongo_test
    volumes:
      - .:/app  
    working_dir: /app
    environment:
      PYTHONPATH: /app
      MONGO_URI: "mongodb://mongo_test:27017"
    command: pytest -v --disable-warnings
    restart: "no"
    profiles: ["run-tests"]
    networks:
      - test_net

volumes:
  mongo_data:
  mongo_backups:

networks:
  db_net:
  test_net:
